<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/CssResume.css">
</head>

<div class="container">
    <div class="row">
    <div class="col-sm-4 ">
        <img class="Profilepicture"
             src="images/yami.jpg" >
    </div>

    <!--<div class="col-sm-4 ">-->
        <div class="textcolor">
        <h3>Yemiserach Lengereh</h3>
        <p class="col-sm-6">Juniour Programmer</p></div>

        <p> <span class="glyphicon glyphicon-home">2420mumford drive, 20906, Silver spring <br>
      </span></p>
        <p> <span class="glyphicon glyphicon-envelope"> meserlengereh@gmail.com
          </span></p>
        <p><span class="glyphicon glyphicon-phone">+12404901424
     </span></p>
        <p><span class="glyphicon glyphicon-search">www.businessweb.com
    </span></p>
    </div>




    <div class="textcolor">
        <div class="col-md-4">
            <h4 class="col-md-4">OBJECTIVE</h4></p></div>

    </div>

            <p class ="col-md-6">To take a challenging and managerial role in the field of Computer programming and implement the expertise
                and experience gained in this field to develop complex project with efficiency and quality.</p>

        <!--end objective-->
    <div class="row">
    <div class="textcolor">

            <div class="col-md-12" >
                <h4 class="col-md-12">EDUCATION</h4>
            </div>
    </div>

      <div class="row">
                <div class="textcolor" >
                    <h4 class="col-md-12"> <br></h4>
                    <span class="col-md-4" >Oct/2/2014 - Dec/9/2017</span></div>
                   <p class="col-md-4">Adama Science And Technology university,Ethiopia</p>
                </div>


                <div class="col-md-12" >
                    <h4 class="col-md-4"><br></h4>
                    <p class="col-md-4" >Bachelor in Computer Science</p>
                    <p class="col-md-5"> </p>
                </div>



        <div class="row">
            <div class="textcolor" >
                <h4 class="col-md-12"> <br></h4>
                <span class="col-md-4" >Oct/2/2014 - Dec/9/2017</span></div>
            <p class="col-md-4">Montgomery collage,usa</p>
        </div>


        <div class="col-md-12" >
            <h4 class="col-md-4"><br></h4>
            <p class="col-md-4" >Java cource</p>
            <p class="col-md-5"> </p>
        </div>

        <div class="textcolor">
        <div class="col-md-12" >
            <h4 class="col-md-12">Experience</h4>
        </div></div>


        <div class="row">
            <div class="textcolor" >
                <h4 class="col-md-12"> <br></h4>
                <span class="col-md-4" >Oct/2/2014 - Dec/9/2014</span></div>
            <p class="col-md-4">Rohobot software developing </p>
        </div>


        <div class="col-md-12" >
            <h4 class="col-md-4"><br></h4>
            <p class="col-md-4" >Website Develping</p>
            <p class="col-md-5"> </p>
        </div>






            </div>
            <!-- Skills-->

            <div class="row">
                <div class="col-md-12" >
                    <div class="textcolor">
                        <h4 class="col-md-12">SKILLS</h4></div>


                    <div class="col-md-12" >
                        <div class="textcolor">
                        <h4 class="col-md-12"> <br></h4>
                            <span class="col-md-4" >Software Knowledge</span></div>
                        <ul>
                            <li class="col-md-2">C</li>
                            <li class=""col-md-2>c++</li>
                        </ul>
                        <h4 class="col-md-12"> <br></h4>
                        <span class="col-md-4" ></span>
                        <ul>
                            <li class="col-md-2">Java</li>
                            <li class=""col-md-2>Networking</li>
                        </ul>
                        <h4 class="col-md-12"> <br></h4>
                        <span class="col-md-4" ></span>
                        <ul>
                            <li class="col-md-2">PHP</li>
                            <li classs="col-md-"
                        </ul>

                    </div>

                </div>

            </div>


        </div>



    </div>
    <!--End Experience-->
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>